/* src/components/MainLayout.css */

.page-container {
  display: flex;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f4f7fa;
}

.main-content {
  flex-grow: 1;
  padding: 32px;
  max-width: calc(100% - 240px); /* Largura total menos a sidebar */
}